{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid p-0">
      <div
          class="p-5 text-center bg-image"
          style="
            background-image: url({{url_for('static',filename='images/warehouse-background1.jpg')}});
            height: 650px;"
        >
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">ABOUT US</h1>
                <h4 class="mb-3">At Company.inc, we believe in the use of technology to make sure that no <br>items in our warehouse goes unchecked. Making sure it stays <br>where it needs to be before it gets to the customers' hand</h4>
                <a class="btn btn-outline-light btn-lg" href="/contactUs" role="button"
                  >Contact Us</a
                >
              </div>
            </div>
        </div>
    </div>
    <section class="team section">
    <div class="container">
      <!-- start -->
      <div class="py-5 team4">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Experienced & Professional Team</h3>
              <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="card-group">
            <!-- cardS -->
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/ST.png' )}}" alt="wrapkit" />
                <div class="card-body">
                    <h5 class="card-title">{{names[0]}}</h5>
                    <h6 class="card-title"><strong>{{ttls[0]}}</strong></h6>
                    <p class="card-text">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                  </ul>
                </div>
            </div>
            <!-- cardE -->
            <!-- cardS -->
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/WDP.png' )}}" alt="wrapkit" />
                <div class="card-body">
                    <h5 class="card-title">{{names[1]}}</h5>
                    <h6 class="card-title"><strong>{{ttls[1]}}</strong></h6>
                    <p class="card-text">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                  </ul>
                </div>
            </div>
            <!-- cardE -->
            <!-- cardS -->
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/KS.png' )}}" alt="wrapkit" />
                <div class="card-body">
                    <h5 class="card-title">{{names[2]}}</h5>
                    <h6 class="card-title"><strong>{{ttls[2]}}</strong></h6>
                    <p class="card-text">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                  </ul>
                </div>
            </div>
            <!-- cardE -->
            <!-- cardS -->
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/GA.png' )}}" alt="wrapkit" />
                <div class="card-body">
                    <h5 class="card-title">{{names[3]}}</h5>
                    <h6 class="card-title"><strong>{{ttls[3]}}</strong></h6>
                    <p class="card-text">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                  </ul>
                </div>
            </div>
            <!-- cardE -->
            <!-- cardS -->
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/NFB.png' )}}" alt="wrapkit" />
                <div class="card-body">
                    <h5 class="card-title">{{names[4]}}</h5>
                    <h6 class="card-title"><strong>{{ttls[4]}}</strong></h6>
                    <p class="card-text">BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                </div>
                <div class="card-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                  </ul>
                </div>
            </div>
            <!-- cardE -->
          </div>
        </div>
        </div>
        <!-- end -->
  </section>
{% endblock %}
