{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid p-0">
      <div
          class="p-5 text-center bg-image"
          style="
            background-image: url({{url_for('static',filename='images/warehouse-background1.jpg')}});
            height: 650px;"
        >
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">ABOUT US</h1>
                <h4 class="mb-3">At Company.inc, we believe in the use of technology to make sure that no <br>items in our warehouse goes unchecked. Making sure it stays <br>where it needs to be before it gets to the customers' hand</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                  >Contact Us</a
                >
              </div>
            </div>
        </div>
    </div>
    <section class="team section">
    <div class="container">
      <!-- start -->
      <div class="py-5 team4">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Experienced & Professional Team</h3>
              <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-lg-4 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ url_for('static', filename='images/ST.png') }}" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Stanley Tantysco</h5>
                    <h6 class="subtitle mb-3">Chief Executive Officer</h6>
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                    <ul class="list-inline">
                      <br/>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ url_for('static', filename='images/WDP.png') }}" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Wely Dharma Putra</h5>
                    <h6 class="subtitle mb-3">Python Lead</h6>
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                    <ul class="list-inline">
                      <br/>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ url_for('static', filename='images/KS.png') }}" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Kennyvito Salim</h5>
                    <h6 class="subtitle mb-3">Marketing Manager</h6>
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                    <ul class="list-inline">
                      <br/>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ url_for('static', filename='images/GA.png') }}" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Girindra Ado Anindito</h5>
                    <h6 class="subtitle mb-3">Warehousing Manager</h6>
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                    <ul class="list-inline">
                      <br/>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <div class="col-lg-4 mb-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12">
                  <img src="{{ url_for('static', filename='images/NFB.png') }}" alt="wrapkit" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 font-weight-medium mb-0">Naufal Fairisa Basyah</h5>
                    <h6 class="subtitle mb-3">UI/UX Design</h6>
                    <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.</p>
                    <ul class="list-inline">
                      <br/>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/twitter.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/facebook.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" width="25" alt="..."></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><img src="{{ url_for('static', filename='images/github.svg') }}" width="25" alt="..."></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
          </div>
        </div>
        </div>
        <!-- end -->
  </section>
{% endblock %}
